.ts-font-color__primary {
    color: #63c39e;
}

a {
    color: #63c39e;
    transition: .3s ease;
}

a:hover {
    color: rgb(237, 44, 66);
    text-decoration: none;
}

blockquote figure aside {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  width='52' height='62'%3E%3cpath fill='%23f26d7d' d='M51 29.1c5.8 16.5-7.4 33-23.7 32.6 -2.5 0-4.9-0.3-7.2-1 -9.2-2.5-16.5-9.8-19-19C0.4 39.5 0 37 0 34.5 0 21.7 4.9 6.1 18.1 1.1 32.9-4.6 44.4 12.7 49.3 24 50 25.7 50.5 27.4 51 29.1z'/%3E%3c/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 0;
    height: 3.875rem;
    position: absolute;
    width: 3.25rem;
    right: -0.625rem;
    z-index: 2;
}

blockquote figure aside svg {
    fill: #63c39e;
}

blockquote {
    font-size: 1.125rem;
    position: relative;
    background-size: contain;
    background-image: url("../svg/bubble.svg");
    background-repeat: no-repeat;
    background-position: center 1.75rem;
    padding-bottom: 1.75rem;
}

.ts-carousel-blockquote .owl-item.active figure,
.ts-carousel-blockquote .owl-item.active p,
.ts-carousel-blockquote .owl-item.active .blockquote-footer {
    font-size: medium;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    /*background-color: darken( var(--color-primary), 20% );
    border-color: darken( var(--color-primary), 20% );*/
    background-color: #63c39e;
    border-color: #63c39e;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .3);
}

.btn-primary {
    background-color: #63c39e;
    border-color: #63c39e;
    color: #fff;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: rgb(237, 44, 66);
    border-color: rgb(237, 44, 66);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    background-color: rgb(237, 44, 66);
    border-color: rgb(225, 20, 44);
    box-shadow: 0 .1875rem .9375rem rgba(0, 0, 0, .2);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    background-color: rgb(237, 44, 66);
    border-color: rgb(237, 44, 66);
    box-shadow: 0 .1875rem .9375rem rgba(0, 0, 0, .2);
}

.btn-outline-primary {
    border-color: #63c39e;
    color: #63c39e;
}

.btn-outline-primary:hover {
    background-color: #63c39e;
    border-color: #63c39e;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
    background-color: #63c39e;
    border-color: #63c39e;
    box-shadow: 0 0 0 .2rem rgba(242, 109, 125, .5);
}

.ts-item-header .icon .step {
    background-color: #63c39e;
    bottom: 0;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    border-radius: 50%;
    color: #191919;
    font-weight: 600;
    line-height: 1.875rem;
    left: 0;
    height: 1.875rem;
    position: absolute;
    text-align: center;
    width: 1.875rem;
}

.progress {
    background-color: transparent;
    border: .125rem solid #63c39e;
    border-radius: 0;
    height: .625rem;
}

.progress .progress-bar {
    background-color: #63c39e;
}


/*-------------------------------------------
  -- Promo Numbers
-------------------------------------------*/

.ts-promo-number .ts-promo-number-divider:after {
    border: .125rem solid #63c39e;
}

.nav-tabs .nav-link.active {
    color: #191919;
    background-color: transparent;
    border-bottom: .1875rem solid #63c39e;
    opacity: 1;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box {
    background-color: #63c39e;
    color: #fff;
}

.ts-time-line__horizontal .ts-time-line__item.ts-time-line__milestone .ts-box:after {
    border-color: #63c39e;
}

.ts-svg__organic-shape-01 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  width='103.987' height='105.599'%3E%3cpath fill='%2363c39e' d='M101.017 45.961c-10.338 22.34-33.156 61.239-62.326 59.586-31.984-1.803-44.52-48.772-36.182-73.996 15.682-47.439 120.287-40.376 98.508 14.41-10.998 23.766 1.923-4.836 0 0z'/%3E%3c/svg%3E");
    width: 100%;
}

.ts-svg__organic-shape-02 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  width='101.304' height='96.392'%3E%3cpath fill='%2363c39e' d='M101.048,47.97c-3.211,14.957-7.703,45.912-27.192,48.273C51.7,98.927,15.111,64.584,3.566,47.911 C-12.879,24.164,31.942,3.488,48.745,0.637C76.996-4.157,104.241,18.745,101.048,47.97C96.953,67.041,101.521,43.635,101.048,47.97z'/%3E%3c/svg%3E");
    width: 100%;
}

.ts-svg__organic-shape-03 {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg'  width='108.618' height='86.25'%3E%3cpath fill='%2363c39e' d='M108.445,46.167c-3.677,13.771-12.625,26.526-26.764,32.547c-2.528,1.363-5.106,2.603-7.67,3.738 c-3.185,1.265-6.416,2.135-9.66,2.646c-16.22,2.553-32.746-3.877-45.176-14.933c-2.598-2.371-4.996-4.983-7.159-7.81 C5.546,53.879,1.18,43.477,0.023,31.901c-0.263-7.015,1.76-13.089,5.305-18.164c1.773-2.538,3.927-4.826,6.362-6.853 c34.619-23.33,88.777,19.27,94.878,29.671C109.214,40.443,108.6,42.851,108.445,46.167z'/%3E%3c/svg%3E");
    width: 100%;
}

.ts-background {
    background-color: #63c39e;
}

.blockquote .ts-block {
    padding-bottom: 50px !important;
    padding-top: 50px !important;
}

.d-inline .btn.lev1 {
    margin: 10px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.d-inline .btn.lev2 {
    margin: 10px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.owl-item h5 {
    padding-top: 20px !important;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}


/*-------------------------------------------
  -- Masonry Grid
-------------------------------------------*/

.slide-item-all {
    max-width: 250px;
    margin-bottom: 40px;
}

.grid-container .div {
    text-align: center;
    font-size: 30px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    padding: 20px;
    gap: 80px;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

.ts-hero2-slider {
    height: 30% !important;
}


/*==================================latest blog================================== */

.news-block-one {
    position: relative;
}

.news-block-one .inner-box {
    position: relative;
    margin-bottom: 40px;
}

.news-block-one .inner-box .image {
    display: inline-block;
    position: relative;
}

.news-block-one .inner-box .date {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff;
    color: #303030;
    font-size: 16px;
    font-weight: 300;
    padding: 0px 15px;
}

.news-block-one .lower-content {
    position: relative;
    margin-top: 30px;
    padding-right: 50px;
}

.news-block-one h5 {
    font-size: 14px;
    font-weight: 800;
    color: #e7003e;
    margin-bottom: 5px;
}

.news-block-one .post-meta {
    font-size: 16px;
    font-weight: 300;
}

.news-block-one h4 {
    color: #242424;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: .5s ease;
}

.news-block-one h4:hover {
    color: #63c39e;
}

.news-block-two {
    position: relative;
}

.news-block-two .inner-box {
    position: relative;
    margin-bottom: 40px;
    border: 2px solid #f4f4f4;
    margin-right: 40px;
    padding: 20px 30px 40px;
}

.news-block-two .lower-content {
    position: relative;
    margin-top: 30px;
}

.news-block-two h5 {
    font-size: 14px;
    font-weight: 800;
    color: #e7003e;
    margin-bottom: 5px;
}

.news-block-two .post-meta {
    font-size: 16px;
    font-weight: 300;
}

.news-block-two h4 {
    color: #242424;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: .5s ease;
}

.news-block-two h4:hover {
    color: #63c39e;
}

.news-block-three {
    position: relative;
}

.news-block-three .inner-box {
    position: relative;
    margin-bottom: 40px;
}

.news-block-three .inner-box .image {
    display: inline-block;
    position: relative;
}

.news-block-three .inner-box .date {
    position: absolute;
    right: 20px;
    top: 20px;
    background: #fff;
    color: #303030;
    font-size: 16px;
    font-weight: 300;
    padding: 0px 15px;
}

.news-block-three .lower-content {
    position: relative;
    padding: 30px 24px 20px;
    border: 1px solid #f4f4f4;
}

.news-block-three h5 {
    font-size: 14px;
    font-weight: 800;
    color: #e7003e;
    margin-bottom: 5px;
}

.news-block-one .post-meta {
    font-size: 16px;
    font-weight: 300;
}

.news-block-three h4 {
    color: #242424;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: .5s ease;
}

.news-block-three h4:hover {
    color: #63c39e;
}

.data-bg-color {
    opacity: 0.2;
}


/*-- Scroll css --------------------------------------------------------------------------------------------- 

#section03 {
    background: url() center center / cover no-repeat;
}

#section04 {
    background: url() center center / cover no-repeat;
}

.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    color: #fff;
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

#section03 a {
    padding-top: 60px;
}

#section03 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
    box-sizing: border-box;
}

#section03 a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

#section03 a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 3s infinite;
    animation: sdb03 3s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb03 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}--*/


/*-----load more------*/

.flex_content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media (max-width: 991px) {
    .flex_content .content {
        width: 85%;
        display: none;
        margin-bottom: 10px;
        margin-right: 40px;
    }
    * .content,
     ::after,
     ::before {
        box-sizing: content-box;
    }
}

#loadMore {
    width: 200px;
    color: #63c39e;
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid transparent;
    transition: .3s;
    border-radius: 6.25rem;
    border-width: .125rem;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .15);
    font-weight: 600;
    font-size: .9375rem;
    padding: .5rem 1.25rem;
    outline: none !important;
}

#loadMore:hover {
    color: #fff;
    background-color: #63c39e;
    border-color: #63c39e;
    box-shadow: .125rem .1875rem .9375rem rgba(0, 0, 0, .3);
}

.noContent {
    color: #000 !important;
    background-color: transparent !important;
    pointer-events: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

#loadMore {
    color: #63c39e;
    letter-spacing: auto;
    animation: blur .75s ease-out;
}

.content {
    color: rgb(0, 0, 0);
    letter-spacing: auto;
    animation: blur .7s ease-out;
    display: none;
}


/* Footer push up */

#ts-footer .ts-box {
    margin-top: 0px;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.ts-carousel-centered .owl-item .slide {
    transition: .3s ease;
    transform: scale(.95);
}

.card {
    height: 380px;
}

.container .card {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


/*--
[class*="navbar-expand"].navbar.navbar-expand-lg.navbar-dark.fixed-top {
    padding: 20px;
}

[class*="navbar-expand"] .navbar-nav .nav-link {
    float: left;
    align-content: center;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
}


/*---Navbar ---------------------------------------------------------------------*/

.navbar {
    padding: 10px;
    border-bottom: none;
    width: 100%;
    z-index: 999999;
}

.navbar a.navbar-brand {
    float: right;
    margin-left: -15px;
}

.navbar a.navbar-brand img {
    margin-bottom: 5px;
}

.navbar-nav {
    margin-right: -15px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    color: rgb(255, 255, 255);
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    font-size: 1rem;
    color: #63c39e;
    text-align: left;
    background-color: #ffffff;
    margin: 0;
    list-style: none;
    background-clip: padding-box;
    border: 0px;
    border-radius: 0;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #63c39e;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    background-color: #63c39e;
    border-color: #63c39e;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #63c39e;
    border-color: #63c39e;
}

.btn-secondary {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary:hover {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: transparent;
}

.btn-secondary:not(:disabled):not(.disabled).active,
.show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #63c39e;
    border-color: #63c39e;
    border: 0;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #63c39e;
    border-radius: 0%;
    border: 0ch;
}

.navbar-nav.mr-auto {
    margin-left: 450px !important;
}


/*-------------------------------------------------*/


/* =  Responsive Part
/*-------------------------------------------------*/

@media (max-width: 991px) {
    .navbar-brand {
        padding: 25px 30px 20px;
    }
    .navbar-toggler {
        margin-right: 15px !important;
    }
    header {
        padding: 0;
    }
    .navbar-nav {
        padding: 15px;
        max-width: 100%;
        max-height: 300px;
    }
    .navbar-nav>li>a {
        padding: 6px 0 !important;
        border: none !important;
        margin: 0;
    }
    .dropdown {
        opacity: 1;
        visibility: visible;
        background: transparent;
        border: none;
        position: relative;
        padding-left: 20px;
        margin-top: -5px !important;
    }
    .dropdown li {
        border: none;
    }
    .dropdown li a {
        background: transparent !important;
        padding: 6px 0;
        color: #fff;
    }
    .navbar a.open-close-menu {
        display: none;
    }
    .navbar-nav>li>a:hover,
    .navbar-nav>li>a.active {
        color: #ffffff !important;
    }
    .btn-secondary {
        display: block;
        width: 100%;
        clear: both;
        font-weight: 400;
        color: #63c39e;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    .btn-secondary:not(:disabled):not(.disabled).active,
    .show>.btn-secondary.dropdown-toggle {
        color: #fff;
        background-color: #63c39e;
        border-color: #63c39e;
        border: 0;
    }
    .btn-secondary:hover {
        color: #fff;
        background-color: #63c39e;
        border-color: #63c39e;
        border: 0;
    }
    .nav-link {
        border: 0;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 0px;
        border-radius: .25rem;
    }
    .navbar-dark .navbar-nav .active>.nav-link,
    .navbar-dark .navbar-nav .nav-link.active,
    .navbar-dark .navbar-nav .nav-link.show,
    .navbar-dark .navbar-nav .show>.nav-link {
        color: #ffffff;
    }
    .dropdown-menu.show {
        display: block;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        font-size: 1rem;
        color: #63c39e;
        text-align: left;
        background-color: transparent;
    }
    .navbar-nav.mr-auto {
        margin-left: 50px !important;
    }
    .btn-secondary {
        color: #ffffff;
        background-color: transparent;
        border: 0;
    }
}

@media screen and (max-width: 680px) {
    .navbar-nav>li>a:hover,
    .navbar-nav>li>a.active {
        overflow: visible !important;
    }
}

@media (max-width: 991px) {
    .container {
        width: 100%;
        padding-right: 50px;
        padding-left: 50px;
        margin-right: auto;
        margin-left: auto;
    }
    blockquote {
        background-size: cover;
    }
    .navbar a.navbar-brand img {
        max-height: 50px;
    }
}


/*!* Parallax video styles*!*/

section.about-section2 .video-box {
    position: relative;
}

section.about-section2 .video-box img {
    width: 100%;
    height: auto;
}

section.about-section2 .video-box .hover-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: columns;
}

section.about-section2 .video-box .hover-video h2 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

section.about-section2 .video-box .hover-video a {
    margin: 0 80px;
    padding: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    animation-name: stretch-out;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

section.about-section2 .video-box .hover-video a span {
    display: inline-block;
    padding: 15px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    animation-name: stretch;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes stretch {
    0% {
        padding: 15px;
    }
    100% {
        padding: 0;
    }
}

section.about-section2 .video-box .hover-video a i {
    display: inline-block;
    width: 70px;
    height: 70px;
    background: #63c39e;
    color: #fff;
    font-size: 18px;
    line-height: 70px;
    padding-left: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

section.about-section2 .video-box .hover-video a:hover {
    background: #fff;
}